@media (max-width: 500px){
    h1{
        font-size: 3em;
        margin-bottom: .2em;
    }
    h2{
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    fieldset {
        margin-left: .4em;
        margin-right: .4em;
        margin-bottom: .5em;
        overflow: hidden;
    }
}